# OzyBase Environment Configuration

# PostgreSQL connection string
DATABASE_URL=postgres://OzyBase:OzyBase123@localhost:5432/OzyBase?sslmode=disable

# Server port
PORT=8090

# JWT Secret Key
JWT_SECRET=super-secret-key-change-it

